body{
    background-color: rgb(135, 190, 253);
}

h1{
    text-align: left;
    font-size: x-large;
    font-family: comic-sans, cursive;
    color: #e2e4e6;
    background-color: blue;
}

h1.center{
    text-align: center;
}

h2{
    text-align: left;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    color: #002880
}

div{
    text-align: center;
}

div.box{
    margin: 20px auto;
    text-align: center;
    font-size: large;
    background-color: rgb(230, 229, 229);
    width: 25%;
    border: 15px solid #002880;  /* dotted, dashed, double, groove, etc */
    padding: 50px;
    border-radius: 10px;/* cantos arredondados */
    box-shadow: 10px 10px 10px #000000ec /* sombra externa termos offset-x offset-y blur-radius spread-radius color;+*/
}

a:link {
    color: red;
}
/* visited link */
a:visited {
    color: green;
}
/* mouse over link */
a:hover {
    color: rgb(4, 24, 37);
}